<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhumian.mapper.system.RoleMapper" >

    <delete id="unrelateRoleAllRightByRoleId" parameterType="java.lang.Long">
        delete from tb_role_right
        where role_id = #{roleId}
    </delete>

    <insert id="relateRights" parameterType="java.util.Map">
        insert into tb_role_right(role_id,right_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>
</mapper>